body {
    font-family: "Arial";
    color: #3B3B3B;
    background: #fff1e2;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

.panel {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: transparent;
}

.modal-content {
    width: 100% !important;
    margin: 0px auto;
    border: 0px;
    overflow: hidden;
    border-radius: 0%;
}

.modal-content-mobile {
    max-width: 350px;
}

.modal-content-desktop {
    min-width: 700px;
}

@media (max-width: 991px) {
    .modal-content-responsive {
        max-width: 350px;
    }
}
@media (min-width: 992px) {
    .modal-content-responsive {
        min-width: 700px;
    }
}

.login-or {
    position: relative;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 8px;
}

.hr-or {
    color: #cdcdcd;
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.panel-left-border {
    border-left-style: solid;
    border-left-color: #F5F5F5;
    border-left-width: 2px;
}

.panel-right-border {
    border-right-style: solid;
    border-right-color: #F5F5F5;
    border-right-width: 2px;
    margin-right: -2px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    text-align: center;
    padding: 0px 5px 0px 5px;
    color: #A3A3A3;
}

.span-or-verical {
    font-size: 16px;
    display: block;
    position: absolute;
    top: 40%;
    margin-left: -25px;
    background-color: #fff;
    text-align: center;
    color: #A3A3A3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-customizable {
    max-width: 60%;
    max-height: 30%;
}

.banner-customizable {
    padding: 2px 0px 2px 0px;
    background-color: lightgray;
}

.label-customizable {
    font-weight: 400;
}

.textDescription-customizable {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.idpDescription-customizable {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.legalText-customizable {
    color: #747474;
    font-size: 11px;
}

.submitButton-customizable {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 100%;
    color: #fff;
}

.submitButton-customizable:hover {
    color: #fff;
    /* background-color: #286090;
    border-color: #204d74 */
}

.errorMessage-customizable {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    background: #F5F5F5;
    border: 2px solid #D64958;
    color: #D64958;
}

.inputField-customizable {
    width: 100%;
    height: 34px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}

.inputField-customizable:focus {
    border-color: #66afe9;
    outline: 0;
}

.magiclink-btn {
    color: #3B3B3B ;
    height: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    background-color: #bddf91;
    border-color: transparent;
    width: 100%;
}
.magiclink-btn:hover {
    background-color: #93ad72;
}

.idpButton-customizable {
    height: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    background-color: #bddf91;
    border-color: transparent;
    width: 100%;
}

.idpButton-customizable:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.socialButton-customizable {
    border-radius: 2px;
    height: 40px;
    margin-bottom: 15px;
    padding: 1px;
    text-align: left;
    width: 100%;
}

.redirect-customizable {
    text-align: center;
}

.passwordCheck-notValid-customizable {
    color: #DF3312;
}

.passwordCheck-valid-customizable {
    color: #19BF00;
}

.background-customizable {
    background-color: #fff;
}

@media (max-width: 992px) {
    .panels-responsive {
        border: none;
        padding: 0;
        margin: 0;
    }
}
.socialButton-customizable.facebook-button {
    border-color: #a7a7a7;
    border-radius: 2px;
    background-color: white;
    color: #4267b2;
    font-weight: 600;
}
.socialButton-customizable.facebook-button:hover {
    background-color: #3f7ce8;
    color: white;
}
.socialButton-customizable.google-button {
    border-color: #a7a7a7;
    border-radius: 2px;
    padding: auto;
    background: white;
    color: #4285F4;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}
.socialButton-customizable.google-button:hover {
    background: #3f7ce8;
    color: #EEE;
}
.socialButton-customizable.amazon-button {
    background-image: linear-gradient(#ffe8ab, #f5c645);
    border: 1px solid #b38b22;
    color: black;
}
.socialButton-customizable.amazon-button:hover {
    background-image: linear-gradient(#ebd498, #e1b144);
    border: 1px solid #b38b22;
}
.socialButton-customizable.apple-button {
    background-color: #000;
    color: #FFF;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.socialButton-customizable.apple-button:hover {
    background-color: #000;
    color: #CCC;
}

.socialButton-customizable .social-logo {
    display: inline-block;
    height:100%;
    margin-right: 12px;
    padding: 9px;
    text-align:center;
    vertical-align: middle;
}
.socialButton-customizable.facebook-button .social-logo {
    padding: 6px;
}
.socialButton-customizable.google-button .social-logo {
    background: #FFF;
    border-radius: 2px;
}
.socialButton-customizable.amazon-button .social-logo {
    padding: 7px;
}
.socialButton-customizable.apple-button .social-logo {
    margin-top: -3px;
    padding: 8px;
}
